  <div class="text-center p-4">
    <h1 class="mb-3">Welcome to HotelRooms!</h1>
    <h5 class="mb-4">Book a room for a small price!</h5>
    <%= image_tag "roo.jpg", alt: "Hotel Image", class: "img mb-4 rounded-5", width: "700", height: "500" %>
    <br>
    <%= link_to "Voir toutes les chambres", rooms_path, class: "btn btn-primary btn-lg" %>
  </div>
